<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>留言自我介紹吧</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>

  <nav>
    <h1 class="title">留言自我介紹吧</h1>
  </nav>

  <div class="container">
    <div class="input">文字內容：<div class="text"><input type="text" class="input-text" name="text"
          placeholder="輸入文字並選擇一張圖片後點選送出" required></div>
    </div>
    <div class="input">圖片檔案：<input class="file" type="file" name="file" accept="image/*" onchange="readURL(this)">
    </div>
    <div class="input">
      <img class="img" src="">
    </div>
    <button class="button" onclick="createMessage()">送出</button>
  </div>

  <div class="messages">

  </div>


</body>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        let img = document.querySelector(".img");
        img.style.display = "block";
        img.setAttribute("src", e.target.result)
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  function createMessage() {

    const file = document.querySelector(".file").files[0];
    const message = document.querySelector(".input-text").value.trim();

    if (!file || message.length == 0) { return alert("請輸入留言及上傳檔案") }

    const formData = new FormData();
    formData.append("file", file);
    formData.append("message", message);

    const postMethod = {
      method: "POST",
      body: formData,
    }

    fetch("/api/message", postMethod)
      .then(response => response.json())
      .then(result => {
        if (result["ok"]) {
          return window.location.href = '/';
        } else {
          alert(result["message"]);
        }
      })
      .catch(error => console.error("Error:", error))
  }

  function getMessage() {
    const getMethod = {
      method: "GET"
    }

    fetch("/api/message", getMethod)
      .then(response => response.json())
      .then(result => {
        const messageContainer = document.querySelector(".messages")
        const data = result["data"]

        data.forEach(d => {
          const message = document.createElement("div");
          message.classList.add("msg-container");
          message.innerHTML = `
              <img class="img-show" src=${d["url"]}>
              <div class="message">${d["message"]}</div>`
          messageContainer.appendChild(message);
        })
      })
      .catch(error => console.error("Error:", error))
  }

  getMessage();

</script>

</html>